<ion-header>

  <ion-navbar>
    <ion-icon name="bluetooth"></ion-icon>
    <ion-title text-center>ZLE SensorSwitch</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list no-lines>

    <ion-card *ngFor="let sensor of sensors">
      <ion-grid>
        <ion-card-header>
          <ion-item text-center>Plan für {{ sensor.name }}</ion-item>
          <hr />
        </ion-card-header>
        <ion-card-content>

          <ion-row align-items-baseline justify-content-start>
            <ion-icon col-1 name="play"></ion-icon>
            <ion-item col-9> 
              <ion-label >Start/Stop</ion-label>
              <ion-toggle  [(ngModel)]="sensor.isactive"></ion-toggle>
            </ion-item>
          </ion-row>

          <ion-row align-items-baseline justify-content-end>
            <ion-icon col-1 name="{{ sensor.sensortype.icon}}"></ion-icon>
              <ion-label col-6>Soll {{ sensor.sensortype.displayname }}</ion-label>
              <ion-input col-4 type="number" [(ngModel)]="sensor.setpoint"></ion-input>
          </ion-row>


          <ion-row align-items-baseline justify-content-end>
            <ion-icon col-1 name="{{ sensor.sensortype.icon}}"></ion-icon>
        
              <ion-label col-6 >Ist {{ sensor.sensortype.displayname }}</ion-label>
              <ion-input col-4 type="number" [(ngModel)]="sensor.actualvalue"></ion-input>

            

          </ion-row>

          <ion-row align-items-baseline justify-content-start >
            <ion-icon col-1 name="watch"></ion-icon>
            <ion-item col-9>
              <ion-label >mit Zeitplan</ion-label>
              <ion-toggle   [(ngModel)]="sensor.isdayplan"></ion-toggle>
            </ion-item>
          </ion-row>

        </ion-card-content>
      </ion-grid>

      <ion-card *ngIf="sensor.isdayplan">
        <ion-card-header>

        </ion-card-header>

        <ion-card-content>

          <ion-list *ngIf="sensor.isdayplan">
            <ion-item>
              <span col-2>Tag</span>
              <span col-4>Von</span>
              <span col-4>Bis</span>
              <span col-2>Sollwert</span>
              <hr />
            </ion-item>
            <ion-item *ngFor="let dayplan of sensor.dayplans; let i = index;">
              <ion-grid>
                <ion-row>
                  <span col-2>{{ dayplan.day }}</span>
                  <span col-4>{{ dayplan.fromtime }}</span>
                  <span col-4>{{ dayplan.totime }}</span>
                  <span col-2>{{ dayplan.setpoint }}</span>
                  <hr />
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
      <!--- zeitplan card -->

    </ion-card>
    <!--- sensor card -->
  </ion-list>
</ion-content>