<ion-header>

  <ion-navbar>
    <ion-title text-center>ZLE SensorSwitch</ion-title>
  </ion-navbar>

</ion-header>

<pre>sensors | json</pre>
<ion-content padding>
  <ion-list no-lines>

    <ion-card *ngFor="let sensor of sensors">
      <ion-grid>
        <ion-card-header>
          <ion-row justify-content-start>
            <span col-3>Sensor</span>
            <span col-2>Aktiv</span>
            <span col-2>Soll</span>
            <span col-2>Ist</span>
            <span col-3>mit Plan</span>
          </ion-row>
          <hr />
        </ion-card-header>
        <ion-card-content>
          <ion-row justify-content-start>
            <span col-2>{{ sensor.name}}</span>
            <ion-item col-3>
              <ion-toggle [(ngModel)]="sensor.isactive"></ion-toggle>
            </ion-item>
            <span col-2>{{ sensor.setpoint}}</span>
            <span col-2>{{ sensor.actualvalue}}</span>
            <ion-item col-3>
              <ion-toggle [(ngModel)]="sensor.isdayplan"></ion-toggle>
            </ion-item>
          </ion-row>
        </ion-card-content>
      </ion-grid>

      <ion-list *ngIf="sensor.isdayplan">
        <ion-item *ngFor="let dayplan of sensor.dayplans; let i = index;">
          <ion-grid>
            <ion-row>
              <span col-2>{{ dayplan.day }}</span>
              <span col-4>{{ dayplan.fromtime }}</span>
              <span col-4>{{ dayplan.totime }}</span>
              <span col-2>{{ dayplan.setpoint }}</span>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card>
  </ion-list>
</ion-content>